*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;


}

body{
	height: 100vh;
}

.container {
	height: 100%;
	display: flex;
	width: 960px;
	background-color: lightgrey;
	border-radius: 10px;	
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
}
header{
	flex: 99%;
	text-align: center;
}
h1, {
	text-align: center;
}

figure{
	width: 100px;
	flex: 0 60%;
	padding-left: 10px;
}
img{
	width: 100%;
}
p{
	flex: 1;
	padding: 0 20px;
	font-size: 20px;
	text-align: justify;
}

.timeline{
	flex: 100%;
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

ul {
	flex: 100%;
	padding-left: 30px;
	text-align: left;
}